#production-subject {
  .allCompany {
    display: inline-block;
    line-height: 40px;
    margin: 0 20px;
  }
  .iptBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .filter-item {
      margin-bottom: 20px;

    }
  }
  // .el-button {
  //   min-width: 100px !important;
  // }
  span.rating-action {
    cursor: pointer;
  }
}