.form-width {
  width: 750px;
}

div.input-width input {
  width: 200px;
}

div.label-align label {
  text-align: left;
}

div.label-align2 label {
  text-align: center;
}

.detail-text-align {
  text-align: center;
}