.title {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.sub-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.content {
  font-size: 13px;
  margin-bottom: 50px;
}
.img {
  border: solid 1px gray;
  border-radius: 5px;
  width: 90%;
  min-width: 90%;
  min-height: 170px;
}