.input-layout {
    max-width: 150px;
}
.el-button--primary.is-plain {
    margin-left: 40px;
}
.el-progress__text {
    display: none!important;
}
.el-progress-bar__outer {
    height: 13px!important;
}