button {
  // min-width: 120px!important;
  height: 40px;
}
.el-form-item__label {
  min-width: 85px;
  text-align: left !important;
}
.data-group-border {
  border: solid 1px gray;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  
  .el-form-item__label {
    min-width: 40px;
    text-align: left !important;
  }
  // width: 60%;
  // min-width: 1000px;

}

.el-textarea-font{
  font:14px Arial;
}