.el-icon-check {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.fixed-value {
  max-width: 150px;
  text-align: center;
  background: #e4e7ed;
  padding: 10px 15px;
  border-radius: 5px;
}
