.item-row {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  .item {
    display: flex;
    align-items: center;
    margin-right: 100px;
    .item-label {
      margin-right: 20px;
    }
    .item-value {
      font-size: 20px;
      a {
        font-size: 20px;
        font-weight: normal;
      }
    }
  }
}

button {
  min-width: 80px;
}