@media screen and (min-width: 0\0) {
  body {
    overflow: hidden;
  }
  .title-container {
    text-align: center;
    h3 {
      display: inline-block;
    }
  }
  .xyh_top {
    text-align: right;
    .el-menu {
      border-bottom: none;
      &.el-menu--horizontal {
        width: 65%;
        margin-left: 20%;
        &::after {
          display: inline;
        }
      }
    }
    .changshu_left img {
      height: 104px;
    }
    .quit {
      vertical-align: top;
      display: inline-block;
    }
  }
  .el-container {
    overflow: hidden;
    .el-aside {
      display: inline-block;
      overflow-x: hidden;
      overflow-y: scroll;
      height: calc(100vh - 90px);
      .tac {
        .is-opened {
          .el-submenu {
            .el-submenu__title {
              .el-icon-arrow-down {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
    .el-main {
      height: calc(100vh - 90px);
      vertical-align: top;
      width: calc(100vw - 200px);
      float: right;
      .margin-top-10-IE {
        margin-top: 10px;
      }
      .margin-top-reverse-5-IE {
        margin-top: -5px;
      }
      .float-right-IE {
        float: right;
      }
      .inline-block-IE {
        display: inline-block;
      }
      .margin-left-60-IE {
        margin-left: 60%!important;
      }
      .button-img {
        margin-bottom: -4px;
        .el-image__inner--center {
          transform: none;
          left: 0;
        }
      }
      .button-p {
        display: inline-block;
      }
      .iptBox {
        .filter-item {
          display: inline-block;
        }
      }
      .el-icon-arrow-up {
        &::before {
          content: "\E6DF";
        }
      }
      .no-margin-IE {
        .el-form-item__content {
          margin-left: 0px!important;
        }
      }
      .item {
        .item-label {
          display: inline-block;
        }
        .item-value {
          display: inline-block;
        }
      }
      .cate-item-panel {
        width: 32%;
        .margin-bottom-reverse-40 {
          margin-bottom: -40px;
        }
        .margrin-top-reverse-5 {
          margin-bottom: -5px;
        }
        .margin-bottom-22 {
          margin-bottom: 22px;
        }
        .align-right-IE {
          width: 40%;
          text-align: right;
        }
      }
      .box {
        &.body {
          background: #002580;
          overflow-y: auto;
          overflow-x: hidden;
          height: calc(100vh - 90px);
          .chart-div-IE {
            height: 450px;
          }
          .divider-IE {
            margin-bottom: 55px;
          }
          .gradient-colored {
            background: linear-gradient(to right, #255ee3 10%, #20beff 50%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
          }
        }
      }
    }
  }
}